#[Member]
ETCD_NAME="{{ansible_hostname}}"
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="https://{{IP}}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{IP}}:2379"
#[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{IP}}:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://{{IP}}:2379"
ETCD_INITIAL_CLUSTER="master01=https://{{etcd_0}}:2380,master02=https://{{etcd_1}}:2380,master03=https://{{etcd_2}}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"
