{
    "CN": "etcd",
    "hosts": [
    "{{etcd_0}}",
    "{{etcd_1}}",
    "{{etcd_2}}"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "BeiJing",
            "ST": "BeiJing"
        }
    ]
}
