[Unit]
Description=Advanced key-value store
After=network.target
Documentation=http://redis.io/documentation, man:redis-server(1)
 
[Service]
Type=forking
ExecStart=/data/redis01/src/redis-server /data/redis01/redis.conf
TimeoutStopSec=0
Restart=always
WorkingDirectory=/data/redis01
 
[Install]
WantedBy=multi-user.target
