[Unit] 
Description=Zookeeper Service
After=network.target
ConditionPathExists=/data/zookeeper
 
[Service] 
Type=forking 
PIDFile=/data/zookeeper/db/zookeeper_server.pid
Environment=ZK_HOME=/data/zookeeper
ExecStart=/data/zookeeper/bin/zkServer.sh start
ExecReload=/data/zookeeper/bin/zkServer.sh restart
ExecStop=/data/zookeeper/bin/zkServer.sh stop
WorkingDirectory=/data/zookeeper
PrivateTmp=true
 
[Install] 
WantedBy=multi-user.target
