
#!/bin/bash
TIME=`date +%Y%m%d`
BAKPATH=/data/db_backup

mysql  -u{{mysql_root_user}}  -p"{{mysql_root_password}}" -e "show databases;" > /tmp/fxpt_list
sed -i '/mysql/d' /tmp/fxpt_list
sed -i '/performance_schema/d' /tmp/fxpt_list
sed -i '/information_schema/d' /tmp/fxpt_list
sed -i '/sys/d' /tmp/fxpt_list

### DB BACKUP
for LINE in $(cat /tmp/fxpt_list)
do
  echo $LINE
/usr/local/mysql/mysqldump  -u{{mysql_root_user}}  -p"{{mysql_root_password}}" -R  $LINE |gzip  > $BAKPATH/${LINE}_$TIME.sql.gz
done


### delete old database(7 DAY) #####
find $BAKPATH -name "*.sql.gz" -type f -mtime +14   -exec rm {} \; > /dev/null 2>&1

