cluster.name: {{Cluster_name}}
node.name: {{ansible_hostname}}
path.data: data
path.logs: logs
bootstrap.memory_lock: true
network.host: {{IP}}
http.port: 9200
transport.port: 9300
cluster.initial_master_nodes: ["{{IP}}"]
http.cors.enabled: true
http.cors.allow-origin: /.*/
http.cors.allow-headers: Authorization
