PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server={{zabbix_server_IP}}
ServerActive={{zabbix_server_IP}}
Hostname={{ansible_all_ipv4_addresses[1]}}
Include=/etc/zabbix/zabbix_agentd.d/*.conf
UnsafeUserParameters=0
ListenPort=10050
