bind 0.0.0.0
port {{Redis_port}}
logfile "redis.log"
dbfilename dump.rdb
dir {{Redis_dir}}/redis/
protected-mode yes
daemonize yes
requirepass {{Redis_passwd}}
replica-priority 10
masterauth {{Redis_passwd}}

{% if mysql_role == "redis_slave" %}
slaveof {{Redis_master_ip}} {{Redis_port}}
{% endif %}

