[Unit]
Description=Kafka Service
After=network.target zookeeper.service
ConditionPathExists={{KAFKA_dir}}
 
[Service]
Type=forking
Environment=KAFKA_HOME={{KAFKA_dir}}
Environment=SIGNAL=KILL
ExecStart={{KAFKA_dir}}/bin/kafka-server-start.sh -daemon {{KAFKA_dir}}/config/server.properties
ExecStop={{KAFKA_dir}}/bin/kafka-server-stop.sh
WorkingDirectory={{KAFKA_dir}}
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
