[Unit] 
Description=Zookeeper Service
After=network.target
ConditionPathExists={{Zookeeper_dir}}
 
[Service] 
Type=forking 
PIDFile={{Zookeeper_dir}}/db/zookeeper_server.pid
Environment=ZK_HOME={{Zookeeper_dir}}
ExecStart={{Zookeeper_dir}}/bin/zkServer.sh start
ExecReload={{Zookeeper_dir}}/bin/zkServer.sh restart
ExecStop={{Zookeeper_dir}}/bin/zkServer.sh stop
WorkingDirectory={{Zookeeper_dir}}
PrivateTmp=true
 
[Install] 
WantedBy=multi-user.target
