[Unit] 
Description=canal Service
After=network.target
ConditionPathExists=/data/canal/server
 
[Service] 
Type=forking
Environment=CANAL_HOME=/data/canal/server
Environment=SIGNAL=KILL
PIDFile=/data/canal/server/bin/canal.pid
ExecStart=/data/canal/server/bin/startup.sh
ExecReload=/data/canal/server/bin/restartup.sh
ExecStop=/data/canal/server/bin/stop.sh
WorkingDirectory=/data/canal/server
PrivateTmp=true
 
[Install] 
WantedBy=multi-user.target
