[Unit]
Description=Kubernetes Kubelet
After=docker.service
[Service]
EnvironmentFile={{K8s_path}}/cfg/kubelet.conf
ExecStart={{K8s_path}}/bin/kubelet $KUBELET_OPTS
Restart=on-failure
LimitNOFILE=65536
[Install]
WantedBy=multi-user.target
