[Unit]
Description=prometheus

[Service]
ExecStart={{Monitor_dir}}/prometheus/prometheus --config.file={{Monitor_dir}}/prometheus/prometheus.yml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
